<h1 class="text-center">Dog Haven</h1>
<app-menu></app-menu>
<div class="container mt-3">
  <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
    <!-- Slide Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
    </ul>
    <!-- The slides to show -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/images/lux.jpg"
          width="auto" height="auto" class="image-carousel">
          <div class="carousel-content">
          </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/ben.jpg"
          width="550px" height="331px" class="image-carousel">
      </div>
      <div class="carousel-item">
        <img
        src="../../assets/images/koda.jpg"
        width="auto" height="auto" class="image-carousel">
      </div>
    </div>

    <!--  Controls (Left and right) -->
    <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>